<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <!-- Nav tabs -->

      <ul class="nav nav-pills justify-content-center">
        <li>
          <a class="active" id="home-tab" data-toggle="tab" href="#home"
            >Home</a
          >
        </li>
        <li>
          <a id="profile-tab" data-toggle="tab" href="#profile">Profile</a>
        </li>
        <li>
          <a id="messages-tab" data-toggle="tab" href="#messages">Messages</a>
        </li>
        <li>
          <a id="settings-tab" data-toggle="tab" href="#settings">Settings</a>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content clearfix">
        <div class="tab-pane active" id="home">
          <div class="row">
            <div class="col-sm-12">
              <div class="jumbotron ">
                <h1>Home</h1>
                <p>This is home tab.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="profile">
          <div class="row">
            <div class="col-sm-12">
              <div class="jumbotron">
                <h1>Profile</h1>
                <p>This is profile tab.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="messages">
          <div class="row">
            <div class="col-sm-12">
              <div class="jumbotron bg-info">
                <h1>Message</h1>
                <p>This is home message.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="settings">
          <div class="row">
            <div class="col-sm-12">
              <div class="jumbotron bg-warning">
                <h1>Settings</h1>
                <p>This is settings.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
