    <div class="sidebar">
      <ul class="nav">
      
        <li class="active">
          <a href="#" class="menu-link">
            <span class="icon-home"></span>
            <span class="text">Home</span>
          </a>
        </li>
      
        <li>
          <a 
          routerLink="/tabs-angular-component"
          ariaCurrentWhenActive="page" class="menu-link">
            <span class="icon-users"></span>
            <span class="text">TabsComponentes</span>
          </a>
        </li>
      
        <li>
          <a href="#" class="menu-link">
             <span class="icon-play"></span>
              <span class="text">Portfolio</span>
          </a>
        </li>
      
        <li>
          <a href="#" class="menu-link">
             <span class="icon-cog"></span>
              <span class="text">Serviços</span>
          </a>
        </li>
      
        <li>
          <a href="#" class="menu-link">
             <span class="icon-mail"></span>
              <span class="text">Contato</span>
          </a>
        </li>
      
      </ul>
    </div><!--sidebar-->